@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900');


body {
	margin: 0;
	background-color: #E0E0E0;
	font-family: 'Titillium Web', sans-serif;
	color: rgb(3, 52, 89);
}


* {box-sizing: border-box;}

.ui-sortable {
	min-height: 80px;
}
.btn-delete {
	position: absolute;
	right: 0;
	top: 0;
	width: 22px;
	height: 22px;
	border: 0;
	background-color: white;
	font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
	color: rgb(3, 52, 89);
}
/* BOARD */
.board h1 {
  margin-left: 8px;
}
.column-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.create-column {
  cursor: pointer;
  text-decoration: none;
  margin: 5px 8px;
  display: block;
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
  color: rgb(3, 52, 89);
  background-color: white;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  border-radius: 5px;
}

/* COLUMN */
.column {
  order: 1;
  min-width: 300px;
  min-height: 50vh;
  background-color: lightgrey;
  margin-left: 8px;
  list-style: none;
  position: relative;
  
}
.column-add-card {
	cursor: pointer;
	text-decoration: none;
	margin: 5px 8px;
	display: block;
  font-weight: 700;
	font-family: 'Titillium Web', sans-serif;
	color: rgb(3, 52, 89);
	background-color: white;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	text-align: center;
	border-radius: 5px;
}

/* STYLE KARTY */
.card {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  padding: 4px;
  overflow: hidden;
  position: relative;
}
.card-list {
  list-style: none;
  margin: 5px;
  padding: 0px;
}
.card-description {
  margin: 2px 0;
}
.card-placeholder {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  border: 2px solid;
  background-color: #E0E0E0;
}
